.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friends-list .friend {
  margin-bottom: 20px;
}

.friend .friend__avatar {
  width: 50px;
  height: 50px;
  border: 1.5px solid #f7f7f7;
  border-radius: 38%;
}

.friend__avatar.g-avatar {
  width: 70px;
  height: 70px;
  border-radius: 38%;
  border: 1.5px solid #f7f7f7;
}

.friend__avatar.m-avatar {
  width: 60px;
  height: 60px;
  border-radius: 38%;
  border: 1.5px solid #f7f7f7;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}

.friend__content .friend__name {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.friend__content .friend__bottom-text {
  opacity: 0.6;
  font-size: 14px;
}

.friend .chat__timestamp {
  font-size: 12px;
  opacity: 0.6;
}

.friends .friends__plus {
  display: inline-block;
}

.friends__plus .friend__avatar {
  background-color: #fce006;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}

.chat {
  margin-bottom: 20px;
}

.friend-imgpack {
  width: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.friend-imgpack__s-avatar {
  width: 23px;
  height: 23px;
  border: 1.5px solid #f7f7f7;
  border-radius: 8px;
  margin: 1px;
}

.friend-imgpack__s-avatar:last-child {
  border: none;
}
