.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin-bottom: 30px;
  position: fixed;
  top: 15px;
  left: 0px;
  z-index: 1;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -30px 36px -8px rgba(0, 0, 0, 0.025);
}

.header .header__title {
  font-size: 24px;
  font-weight: 700;
}

.header .header__icon {
  font-size: 20px;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}

.header__icon-plus {
  font-size: 10px;
  font-weight: 700;
  background-color: white;
  position: absolute;
  left: 15px;
  bottom: 5px;
  padding: 0.5px;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
